global_defs {
  router_id LVS_DEVEL
}
vrrp_script check_apiserver {
  script "/etc/keepalived/check_apiserver.sh"
  interval 3
  weight -2
  fall 10
  rise 2
}

vrrp_instance VI_1 {
  state {{ keepalived_state }}
  interface {{ keepalived_if }}
  virtual_router_id {{ keepalived_id }}
  priority {{ keepalived_priority }}
  authentication {
    auth_type PASS
    auth_pass {{ keepalived_pass }}
  }
  virtual_ipaddress {
    {{ api_vip }}
  }
  track_script {
    check_apiserver
  }
}
